* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

/*container */

.container {
  max-width: 1000px;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

/*navigation */

.navlinks {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navlinks li a {
  display: block;
  padding: 15px 5px;
}

/*landing page */

.intro {
  height: 300px;
  border: solid 2px black;
}

.intro h1 {
  text-align: center;
}

.intro h2 {
  text-align: center;
}

/*game display */

.gamelist {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.game {
  border: solid 2px black;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}